**/node_modules
**/lib
**/dist
**/build
**/coverage
**/vendor
.yarn
yarn.lock
packages/shadowlist-wasm/src/wasm
**/*.wasm
templates/shadowlist-fabric-example/android
templates/shadowlist-fabric-example/ios
packages/shadowlist-android/**/.cxx
packages/shadowlist-android/**/build
packages/shadowlist-android/results
packages/shadowlist-uikit/build
packages/shadowlist-uikit/results
**/Pods
.claude
